
<div >
      <div class="container">
        <div class="row" *ngFor="let model of models; let i = index">
          <div class="col-md-2">
            <div class="form-group">
              <label for="power">From Date</label>
              <input type="text" class="form-control" id="{{'FromDate'+i}}" name="{{'FromDate'+i}}" readonly
                [(ngModel)]="model.FromDate">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="name">To Date</label>
              <input type="text" class="form-control" id="{{'ToDate'+i}}" [(ngModel)]="model.ToDate"
                name="{{'ToDate'+i}}" readonly>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <label for="name">Employee Name</label>
                <input type="text" class="form-control" id="{{'EmpName'+i}}" [(ngModel)]="model.EmpName"
                  name="{{'EmpName'+i}}" readonly>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
                <a [routerLink]="['/approve-timesheet', model.EmpId, model.FromDate]">
                        {{ model.EmpName }}
                        </a>
            </div>
          </div>
        </div>
      </div>
    
  </div>